[mcu scanner]
canbus_uuid: 8e725aaf27d6 
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial

[scanner]
#canbus_uuid: 8e725aaf27d6  
mcu: scanner            
x_offset: 0                          
y_offset: 43.15                         
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.

[bed_mesh]
zero_reference_position: 125, 125    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 35, 6
#    start point of bed mesh [X, Y]
mesh_max: 240, 198
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

[z_tilt]
z_positions:
  12.5, 8 #stepper_z Mini Tank
  362.5, 8 #stepper_z1 Mini Tank
  188.5, 358 #stepper_z2 Mini Tank
points:
  330,290  #probe location Right Rear
  40,290 #probe location Left Rear
  40,15 #probe location Left Front
  330,15 #probe location Right Front
speed: 300
horizontal_move_z: 5
retries: 10 # Number of times to retry if the probed points aren't within tolerance.
retry_tolerance:0.0400
#retry_tolerance:0.25

[safe_z_home]
home_xy_position: 200, 175
speed: 200
z_hop: 10
z_hop_speed: 10

#[adxl345]
#cs_pin: scanner:PA3
#spi_bus: spi1

[bed_mesh]
zero_reference_position: 190.50, 185.00    
algorithm:bicubic
speed: 200
horizontal_move_z: 2
mesh_min: 10, 45
mesh_max: 360, 350
mesh_pps: 0, 0
probe_count: 20, 20
#probe_count: 100, 100
