[neopixel chamber]
pin: PE6
chain_count: 75
color_order: GRB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

[neopixel hotend_rgb]
pin: EBBCan:PD3
chain_count: 2
color_order: GRBW
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0
initial_WHITE: 0


#    neopixel:main

[led_effect rainbow]
leds:
    neopixel:hotend_rgb
    neopixel:chamber
autostart:                          true
frame_rate:                         24
layers:
    gradient  2  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect printing]
leds:
    neopixel:hotend_rgb
    neopixel:chamber
autostart:                          false
frame_rate:                         24
layers:
        static     1 0 top (1,1,1,1)

[led_effect heating]
autostart:              false
frame_rate:             24
heater:                 heater_bed
leds:
    neopixel:hotend_rgb
    neopixel:chamber
layers:
    heater  50 0 add    (1,1,0),(1,0,0)
    breathing  3 1 top (1.0, 0.0, 0.0, 0.0)

[led_effect cancelled]
autostart:              false
frame_rate:             24
leds:
    neopixel:hotend_rgb
    neopixel:chamber
layers:
        breathing  1.5 1 top (1.0, 0.0, 0.0, 0.0)

[led_effect cooling]
autostart:              false
frame_rate:             24
leds:
    neopixel:hotend_rgb
    neopixel:chamber
layers:
        breathing  3 1 top (0.0, 0.0, 1.0, 0.1)

[led_effect standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:hotend_rgb
    neopixel:chamber
layers:
        breathing  3 1 top (0.0, 0.0, 0.0, 1.0)

[led_effect part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:hotend_rgb
    neopixel:chamber
layers:
        breathing  3 1 top (0.6, 1.0, 0.0, 0.1)

[led_effect print_complete]
autostart:              false
frame_rate:             24
leds:
    neopixel:hotend_rgb
    neopixel:chamber
layers:
        breathing  3 1 top (0.0, 1.0, 0.0, 0.4)


##############
# The Macros #
##############

[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=printing

[gcode_macro status_part_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=part_ready

[gcode_macro status_print_complete]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=print_complete

[gcode_macro status_cancelled]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=cancelled
#    UPDATE_DELAYED_GCODE ID=led_ready_state DURATION=900

[gcode_macro status_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=heating

[gcode_macro status_cooling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=cooling

[delayed_gcode led_ready_state]
gcode:
  status_ready

