[neopixel screen]     
pin: EXP1_6
chain_count: 3
color_order: RGB             
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0


[led_effect rainbow]
leds:
    neopixel:screen
autostart:true
frame_rate:24
layers:
    gradient  .3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect printing]
leds:
    neopixel:screen
autostart:false
frame_rate:24
layers:
        static 1 0 top (1,1,1,1)

[led_effect heating]
autostart:false
frame_rate:24
heater:   heater_bed
leds:
    neopixel:screen
layers:
    heater  50 0 add    (1,1,0),(1,0,0)
    breathing  3 1 top (1.0, 0.5, 0.0, 0.0)

[led_effect cancelled]
autostart:false
frame_rate:24
leds:
    neopixel:screen
layers:
        breathing  1.5 1 top (1.0, 0.0, 0.0, 0.0)

[led_effect cooling]
autostart:false
frame_rate:24
leds:
    neopixel:screen
layers:
        breathing  3 1 top (0.0, 0.0, 1.0, 0.1)

[led_effect standby]
autostart:false
frame_rate:24
leds:
    neopixel:screen
layers:
        breathing  3 1 top (0.0, 0.0, 0.0, 1.0)

[led_effect part_ready]
autostart:false
frame_rate:24
leds:
    neopixel:screen
layers:
        breathing  3 1 top (0.6, 1.0, 0.0, 0.1)

[led_effect print_complete]
autostart:false
frame_rate:24
leds:
    neopixel:screen
layers:
        breathing  3 1 top (0.0, 1.0, 0.0, 0.4)

[led_effect homing]
autostart:false
frame_rate:24
leds:
    neopixel:screen
layers:
        breathing  3 1 top (0.0, 0.0, 1.0, 0.4) # Blue
[led_effect leveling]
autostart:false
frame_rate:24
leds:
    neopixel:screen
layers:
        breathing  3 1 top (0.0, 1.0, 1.0, 0.4) # Blue

##############
# The Macros #
##############

[gcode_macro STATUS_OFF]
gcode:
    STOP_LED_EFFECTS

[gcode_macro STATUS_READY]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro STATUS_PRINTING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=printing

[gcode_macro STATUS_COMPLETE]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=print_complete

[gcode_macro STATUS_CANCELLED]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=cancelled

[gcode_macro STATUS_HEATING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=heating

[gcode_macro STATUS_COOLING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=cooling



# TO SETUP!

[gcode_macro STATUS_HOMING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro STATUS_LEVELING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro STATUS_MESHING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

# Currently not used
# [gcode_macro STATUS_CLEANING]
# gcode:
#     STOP_LED_EFFECTS
#     SET_LED_EFFECT EFFECT=rainbow

