[gcode_macro STATUS_HEATING]
gcode:
SET_LED LED="Screen_Colour" RED=1 GREEN=0.5 BLUE=0 SYNC=0 TRANSMIT=1

[gcode_macro STATUS_HOMING]
gcode:
  ; nothing

[gcode_macro STATUS_LEVELING]
gcode:
  ; nothing

[gcode_macro STATUS_MESHING]
gcode:
  ; nothing

[gcode_macro STATUS_CLEANING]
gcode:
  ; nothing

[gcode_macro STATUS_READY]
gcode:
SET_LED LED="Screen_Colour" RED=1 GREEN=1 BLUE=1 SYNC=0 TRANSMIT=1 

[gcode_macro STATUS_PRINTING]
gcode:
SET_LED LED="Screen_Colour" RED=0 GREEN=1 BLUE=0 SYNC=0 TRANSMIT=1 
